* {
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5vh;
  background-image: url(./background.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
  background-color: #ffffff4a;
  background-blend-mode: overlay;
  font-family: "Cinzel", serif;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fffffe;
  border-style: solid;
  border-color: #615024;
  padding: .5vw;
  width: 90%;
  max-width: 800px;
}

h1 {
  text-align: center;
  margin: .2em 0;
  width: 100%;
  padding: 0.5em;
  font-size: 2em;
}

input {
  height: 2.5em;
  width: 80%;
  max-width: 300px;
  padding: 0.5em;
  margin: 1em 0.5em;
  font-size: 1.1em;
  background-color: #fffffe;
  border-radius: 15px;
  border: 2px solid rgb(97, 80, 36);
  cursor: pointer;
  font-family: "Cinzel", serif;
}

button {
  height: 2.7em;
  width: 80%;
  max-width: 300px;
  padding: 0.5em;
  margin: 1em 0.5em;
  font-size: 1.1em;
  background-color: #fffffe;
  border-radius: 15px;
  border: 2px solid #615024;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-family: "Cinzel", serif;
  font-weight: 600;
  justify-text: center;
}

button:hover {
  transform: scale(1.1);
  background-color: #ffdf86;
}

#popUp {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

#popUp p {
  margin: 0.5em;
  font-size: 1em;
  font-weight: 500;
}

/* TESTE RESPONSIVIDADE */
@media screen and (max-width: 480px) {
  * {
    overflow: hidden;  
  }
  
  body {
    margin-top: 5vh;
    padding: 0 2vw;
  }

  h1 {
    font-size: 1.5em;
    width: 100%;
  }

  input, button {
    display: flex;
    /* flex-direction: column; */
    align-item: center;
    justify-content: center;
    justify-text: center;
    width: 100%;
    font-size: 1em;
  }

  .container {
    padding: 4vw;
  }

  #popUp p {
    font-size: 0.95em;
  }
}
