body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
      url(./background.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: "Cinzel", serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fffffe;
  border: 2px solid #615024e5;
  border-radius: 15px;
  padding: 3vw;
  width: 90%;
  max-width: 500px; /* Not too big */
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 1.8em;
  width: 100%;
}

input,
button {
  width: 100%;
  max-width: 320px;
  height: 45px;
  margin: 10px 0;
  padding: 0 10px;
  font-size: 1.1em;
  border: 2px solid #615024e5;
  border-radius: 15px;
  background-color: #fffffe;
  font-family: "Cinzel", serif;
  box-sizing: border-box;
  cursor: pointer;
}

button {
  font-weight: 600;
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
  background-color: #ffdf86;
}

#popUp {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#popUp p {
  font-size: 1.1em;
  font-weight: 500;
  margin: 5px;
}

/* RESPONSIVIDADE */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.4em;
  }

  input,
  button {
    height: 42px;
    font-size: 1em;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-size: 1.6em;
  }
}
